astropy==5.3.4
attr==0.3.2
beautifulsoup4==4.6.1
colorama==0.4.6
ConfigParser==7.1.0
cryptography==41.0.1
docutils==0.18.1
filelock==3.17.0
HTMLParser==0.0.2
jnius==1.1.0
keyring==24.3.1
numpy==2.2.2
pandas==2.2.3
Pillow==11.1.0
protobuf==5.29.3
pyOpenSSL==25.0.0
thread==2.0.5
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
